<!DOCTYPE html>
<html>
  <head>
    <title>Qna</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= action_cable_meta_tag %>

    <%= Gon::Base.render_data %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <%= yield %>
    <% if user_signed_in? %>
    <%= form_tag search_index_url, :method => :get do %>
      <p>
        <%= text_field_tag :search, params[:search] %>
        <%= select_tag :scope,
                       options_for_select(
                           [
                               %w(All thinking_sphinx),
                               %w(Question question),
                               %w(Answer answer),
                               %w(Comment comment),
                               %w(User user)
                           ]
                       )
        %>
        <%= submit_tag "Search", :name => nil %>
      </p>
    <% end %>
  <% end %>
  </body>
</html>
